---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Bio | Davide Sigillo" description="Bio of Davide Sigillo, a digital artist and sound designer.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Bio"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src=`${import.meta.env.BASE_URL}assets/portrait.jpg`
					alt="Davide Sigillo at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Chi sono</h2>
				<div class="content">
					<p>
						Hey! Sono Davide e mi piace sperimentare con immagini, suoni e tecnologia. Di giorno lavoro come ingegnere gestionale, ma nel tempo libero mi immergo nel mondo della creatività digitale.
					</p>
					<p>
						Mi immergo nel mondo dei visual interattivi con TouchDesigner e produco musica con Ableton Live da circa 13 anni.

					</p>
					<p>
						Mi affascina tutto ciò che mescola logica e arte, ed è proprio questa combinazione che mi ha portato a esplorare nuove forme di espressione visiva e sonora.
					</p>
					<p>
						Pubblico principalmente su <a href="https://soundcloud.com/sigillodav">SoundCloud</a> le mie produzioni originali. È il mio archivio sonoro personale, ma anche un luogo di ricerca e ispirazione. 

						Lo uso per esplorare nuovi suoni, connettermi con altri artisti e far parte di una community creativa sempre in fermento.

					</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Ableton Live, TouchDesigner, Photoshop, VST</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 8px;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
